@using PhotoAlbumDAL.Models
@model PhotoAlbumBLL.DTO.PhotoToView

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PhotoToView</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserLogin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserLogin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.Raw("<img style='' src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Image) + "\" />")
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>
